<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="{{ root_url }}/font/google_fonts_sans.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/font/google_fonts_serif.css" rel="stylesheet" type="text/css">

<script type="text/javascript">

function addBlankTargetForLinks () {

  $('a[href^="http"]').each(function(){

      $(this).attr('target', '_blank');

  });

}

$(document).bind('DOMNodeInserted', function(event) {

  addBlankTargetForLinks();

});

</script>
